<meta charset="UTF-8">
<title>Todo App</title>

<!-- CSS -->
<link rel="stylesheet" href="/scripts/css/bootstrap.min.css">
<style>
	nav  {
		padding-top:50px; 
		margin: 0 auto;
		width: 700px;
	}
	.todo {
		margin: 0 auto;
    	width: 700px;
	}
	.login-form {
		width: 20rem;
		max-width: 90%;
		margin: auto;
	}
</style>