<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="/tasks"><h2>Todo List</h2></a>
		</div>

		<ul class="nav justify-content-end">
			<li class="nav-item"><a class="nav-link" href="/tasks">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
			<li class="nav-item">
				<form class="nav-link" action="/logout" method="post">
					<button  type="submit">Log Out</button>
				</form>
			</li>
		</ul>
	  
	</div>
</nav>