<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./includes/head %>
</head>

<body class="container">

    <header>
        <% include ./includes/header %>
    </header>
    <main>
        <div class="todo">

            <div class="form-group">
                <form class="form-inline justify-content-center" id="submit-task">
                    <input type="text" class="form-control" id="task" placeholder="Add New Tasks"></input>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <label><%= error %></label>
                </form>
            </div>
            <div>
                <p>
                    <a class="btn btn-light" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Why use Axios?
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Axios is a Promised based HTTP client for the browser and nodeJS. It is used here to facilitate
                        interaction between browser and node API endpoint to minimise the number of
                        page redirects involved.
                    </div>
                </div>
            </div>
            <table class="table table-hover" id="task-table">
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:70%">Tasks</th>
                    <th style="width:20%"></th>
                </tr>
            </table>
        </div>
    </main>
</body>

<script src="/scripts/axios/dist/axios.min.js"></script>
<script src="/static/js/main.js"></script>

</html>