<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./includes/head %>
</head>
<body class="container">

<header>
    <% include ./includes/header %>
</header>

<main>
    <div class="jumbotron">
        <p>To Do List App</p>
    </div>
    <div class="form-group">
        <form class="form-inline" action="/tasks/add" method="POST">
            <label for="addTask">Add New Tasks</label>
            <input type="text" class="form-control" name="task"></input>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
            <label><%= error %></label>
        </form>
    </div>
    <div>
        <table class="table table-hover">
            <tr>
                <th>Tasks</th>
                <th></th>
            </tr>
            <% rows.forEach((tasks) => { %>
                <tr>
                    <td><%= tasks.title %></td>
                    <td>
                        <form action="/tasks/delete" method="POST">
                            <input type="hidden" name="id" value="<%= tasks.id %>" />
                            <input type="submit" class="close" aria-label="Close" value="x" />
                        </form>
                    </td>
                </tr>

            <% }) %>

        </table>
    </div>
    
</main>
</body>
</html>