<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./includes/head %>
</head>
<body class="container">

<header>
    <% include ./includes/header %>
</header>

<main>
    <div class="jumbotron">
        <p>To Do List App</p>
    </div>
    <div class>
        <table class="table table-hover">
            <tr>
                <th>
                    Tasks
                </th>
            </tr>
            <% rows.forEach((tasks) => { %>
                <tr>
                    <td><%= tasks.title %></td>
                </tr>
            <% }) %>

        </table>
    </div>
    
</main>
</body>
</html>