<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./includes/head %>
</head>
<body class="container">

<header>
    <% include ./includes/header %>
</header>

<main>
    <div class="jumbotron">
        <p>To Do List App</p>
        <a href='/tasks'><button class="btn btn-primary mb-2">I want to add todo items!</button></a>
    </div>
</main>
</body>
</html>