<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./includes/head %>
</head>

<% include ./includes/flash %>
<header>
    <% include ./includes/header %>
</header>
<style>
    .welcome {
        margin-bottom: 1em;
    }

    .illustration {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    .tech-stack {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .jumbotron {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    p {
        margin-top: 3em;
    }

    .fa-github {
        color: black;
        font-size: 1.5em;
    }

    footer {
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
    }
</style>

<body class="container">

    <main>
        <img class="illustration" src="static/images/undraw_dev_productivity_umsq.svg" alt="Dev Productivity">

        <div class="jumbotron">
            <h2 class="welcome">Welcome to Dohun's Todo List App 😀</h2>

            <a href='/tasks'><button class="btn btn-primary btn-lg ">Get Productive!</button></a>
        </div>
        <div class="container">
            <p align="center">
                <strong>Built with</strong>
            </p>
            <img class="tech-stack" src="static/images/tech-stack-vertical-align.png"
                alt="NodeJS PostgreSQL HTML CSS JavaScript">

        </div>
    </main>
</body>
<footer>
    <a href="https://github.com/doinghun/TodoApp-NodeJS" target="_blank"
        rel="external nofollow noopener noreferrer"><span class="icon"><i class="fab fa-github"></i></span></a>
</footer>

</html>